body {
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

button {
  width: 90%;
  padding: 18px;
  margin: 12px 0;
  font-size: 20px;
  background: #111;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
}

button:active {
  background: #333;
}
