body{
 background:black;
 color:white;
 font-family:Arial;
 text-align:center;
 padding:20px;
}

h1{
 margin-bottom:25px;
}

.btn{
 display:block;
 width:90%;
 padding:20px;
 margin:12px auto;
 font-size:20px;
 background:#111;
 color:white;
 text-decoration:none;
 border:2px solid white;
 border-radius:14px;
}

input{
 width:90%;
 padding:15px;
 font-size:18px;
 border-radius:10px;
 border:none;
 margin:15px 0;
}
