body{
 background:black;
 color:white;
 font-family:Arial;
 text-align:center;
 padding:20px;
}

h1{
 margin-bottom:25px;
}

button{
 width:90%;
 padding:20px;
 font-size:20px;
 margin:12px 0;
 background:#111;
 color:white;
 border:2px solid white;
 border-radius:14px;
}

input{
 width:90%;
 padding:15px;
 font-size:18px;
 margin:15px 0;
 border-radius:10px;
 border:none;
}
